
._Container {
    background-image: url(' https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/chatbg.png');
    padding-bottom: 15px;
    font-family: Roboto;
}

.bg-color,.bg-colors {
    border: 10px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 7px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}
p:nth-child(odd){
    background-color: #47a3f3;
    text-align: right;
    border-bottom-right-radius: 0px;
}
p:nth-child(even){
    background-color: #52606d;
    text-align: left;
    border-bottom-left-radius: 0px;
}
.chat_name {
    background-color: #323f4b;
    text-align: center;
    padding-top: 7px;
    padding-bottom: 7px;
    margin-bottom: 50px;
}